.background{
width:100%;
height:100vh;
background-image: url(/img/SiteBackground.JPG);
}
#content{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.suprise-me-button{
    width: 15%;
    font-size: x-large;
}
.allergen-diet-button{
    width: 15%;
    font-size: x-large;
}
.mood-selector-button{
    width: 15%;
    font-size: x-large;
}
.main-page-button{
    width: 15%;
    font-size: x-large;
}